body {    
    display: flex;
    flex-direction: column;
    align-items: center;       
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0; 
    background-image: url("../images/concrete_seamless.png"); 
    
}

header {
    display: flex;
    flex-direction: row; 
    justify-content: center;
    width: 100%; 
    height: 88px;   
    background-color: white;
    border-color: #cccccc;
    border-style: solid;
    border-width: 0px 0px 2px 0px; 
        
}

#header-content { 
    display: flex;   
    justify-content: center;
    width: 960px; 
    height: 88px;
    position: relative; 
    bottom: 0;  
}

.name {
    position: absolute;
    bottom: 0;
    left: 0;        
    background-color: #4aaaa5;    
    
    margin: 0px;
    padding: 15px;
    color: white;
    font-family: 'Georgia', Times, Times New Roman, serif;
}

.nav { 
    display: flex;
    position: absolute; 
    right: 0;
    bottom: 0;  
    list-style: none;    
    background-color: white;
    color: #777777;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    text-decoration: none;      
}

li {
    display: inline;
}

a {
    text-decoration: none;
}
a:link { 
    color: #777777; 

}

a:visited { 
    color: #777777;
 }

a:hover {
     color: #4aaaa5; 
}

a:active { 
    color: #4aaaa5; 
}

}

a:hover {
    text-decoration: underline;
    background-color: #4aaa4a;
}

#main-content {
    display: flex;
    flex-direction: column; 
    margin: 30px 0 50px 0;
    width: 960px;
    position: absolute;
    top: 90px;    
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;    
    background-color: white;
    border-style: solid;
    border-width: 1px;  
    border-color: #dddddd;  
    z-index: 1;    
    }

#heading2 {
    color: #4aaaa5;
    padding-left: 15px;
    font-family: 'Georgia', Times, Times New Roman, serif;
}

hr {
    width: 930px;
}

#headshot {
    float: left;
    padding: 15px;    
}

p {    
    padding: 15px;
    margin: 0px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
}

footer {
    position: fixed;   
    bottom: 0px;
    background-color: #666666;
    width: 100%;    
    border-top: 8px solid #4aaaa5;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    z-index: 2;  
      
}

#footer-text {
    color: white;
    text-align: center;
}

a[href^="mailto"]:link{
    color: white;
}

a[href^="mailto"]:hover{
    color: #4aaaa5;
}








